<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/bootstrap.min.css" />
    <!--Font Family proveniente de google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body class="m-0 border-0 bd-example m-0 border-0" style="background-color: #015a95; font-family: Roboto, sans-serif, Arial;">

    <nav class="navbar justify-content-center" data-bs-theme="White" style="background-color: rgb(4, 4, 117);">
        <ul class="nav justify-content-center menu-nav" style="background-color: rgb(4, 4, 117);">
            <li class="nav-item">
                <a class="nav-link" style="background-color:rgb(4, 4, 117); color: white; margin:0 10px;" href="https://localhost:7253/views/cuenta/desaparecidos.html">Desaparecidos</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: rgb(4, 4, 117); color: white; margin:0 10px;" href="https://localhost:7253/views/cuenta/necesitados.html">Necesitados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: rgb(4, 4, 117) ; color: white; margin:0 10px;" href="https://localhost:7253/views/cuenta/mi_cuenta.html">Mi cuenta</a>
            </li>
            <li class="nav-item"  id="misanuncios">
                <a class="nav-link" style="background-color: blue; border-radius: 8px; color: white; margin: 0 10px;" href="https://localhost:7253/views/cuenta/mis_anuncios.html">Mis anuncios</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" style="background-color: rgb(4, 4, 117); color: white; margin:0 10px;" href="https://localhost:7253/views/cuenta/crear_cuenta.html">Crear cuenta</a>
            </li>
            <li class="nav-item">
                <form class="d-flex" role="search">
                    <input id="txtBuscar" class="form-control me-2" type="search" placeholder="Buscar anuncio" aria-label="Search">
                    <button id="btnBuscar" class="btn btn-outline-success" type="submit" style="background-color: blue; color: white;">Buscar</button>
                </form>
            </li>
        </ul>
    </nav>
    <style>
        #btnBuscar{
            border:none;
        }#txtBuscar{
            border:none;
        }
        .navbar ul #misanuncios a::before {
        }

    </style>
    <!-- tarjetas -->

    <div class="row m-0 border-0 bd-example m-0 border-0 justify-content-center">
        <style>

            #containerImgNece {
                width: 100%;
                height: 100%;
                width: 100%;
                height: 20vh;
            }

            #imagenNece {
                width: 90%;
                height: 100%;
                object-fit: cover;
            }

            #txtNombreNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtApellidoNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtEdadDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtEdadNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtDistritoNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtDireccionNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtDescripcionNecesitados {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtAyudaNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtTelefonoNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtWhatsAppNecesitado {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }
        </style>
        <div class="col-sm-6 col-md-4 " style="position: static;">
            <div class="card" style="width: 18rem; background-color: #072145; color: white; margin: 0.5rem auto;">

                <div class="card-body">
                    <div class="col-sm-6 col-md-4" style="width: 100%; height:200px; ">
                        <center id="containerImgNece"></center>
                    </div>
                        <input type="file" id="fileimagenNese" accept="image/*" style="max-width: 100%;">

                    <h5 class="card-title" style=" color: white;">
                        Ayudemos a:
                    </h5>
                    <input type="text" id="txtNombreNecesitado" class="card-title" style="background-color: #038587; color: white;" placeholder="Nombre">

                    <input type="text" id="txtApellidoNecesitado" class="card-title" style="background-color: #038587; color: white;" placeholder="Ingrese el apellido">
                    <style>
                        ::placeholder {
                            color: black;
                        }
                    </style>

                    <h5 class="card-title" style=" color: white;">
                        Edad:
                    </h5>
                    <input type="number" id="txtEdadNecesitado" class="card-title" min="0" style="background-color: #038587; color: white;" placeholder="Edad">
                    <p>
                        Distrito: <select name="miCombobox" id="txtDistritoNecesitado" style="background: #038587; color: white; ">
                            <option value="distrito1">Distrito 1</option>
                            <option value="distrito2">Distrito 2</option>
                            <option value="distrito3">Distrito 3</option>
                        </select>
                    </p>
                    <p>Direccion:</p>
                    <input type="text" id="txtDireccionNecesitado" class="card-title" style="background-color: #038587; color: white;" placeholder="Dirección">

                    <strong> <p>Descripcion:</p> </strong>
                    <textarea type="text" id="txtDescripcionNecesitados" class="card-title" maxlength="220" style="background-color: #038587; color: white; max-height:20vh; min-height:10vh; " placeholder="Descripcion de la situacion"></textarea>

                    <p>
                        Tipo de ayuda: <select name="miCombobox" id="txtAyudaNecesitado" style="background: #038587; color: white; ">
                            <option value="ayuda1">ayuda 1</option>
                            <option value="ayuda2">ayuda 2</option>
                        </select>
                    </p>
                    <p>
                        Tel:  <input type="text" id="txtTelefonoNecesitado" class="card-title" style="background-color: #038587; color: white;" placeholder="Numero telefonico">
                        <br> WhatsApp: <input id="txtWhatsAppNecesitado" type="text" class="card-title" style="background-color: #038587; color: white;" placeholder="Numero de WhatsApp">

                    </p>
                    <input id="btnPublicarNecesitado" class="btn btn-primary" type="submit" value="Publicar">

                </div>
            </div>
        </div>

        <!--Creacion de anuncio de desaparecido-->
        <style>
            #containerImgDesa {
                width: 100%;
                height: 100%;
                width: 100%;
                height: 20vh;
            }

            #imagenDesa {
                width: 90%;
                height: 100%;
                object-fit: cover;
            }

            #txtNombreDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtApellidoDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtEdadDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtApellidoDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtVistoAntesDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #fecha_desaparicion {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtLugarDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtDescripcionDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtTelefonoDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }

            #txtWhatsAppDesaparecido {
                background-color: rgb(3, 133, 135);
                border: none; /* Quitar el borde */
                outline: none; /* Quitar el borde al hacer clic */
            }
        </style>

        <div class="col-sm-6 col-md-6 " style="position: static;">

            <div class="card" style="width: 18rem; background-color: #072145; color: white; margin: 0.5rem auto;">

                <div class="card-body">
                    <div class="col-sm-6 col-md-4" style="width: 100%; height: 200px;">

                        <center  style="width: 100%; height: 200px;" id="containerImgDesa"></center>
                    </div>
                    <input type="file" id="fileimagenDesa" style="max-width:100%;" />

                    <h5 class="card-title" style=" color: white;">
                        Encontremos a:
                    </h5>

                    <input type="text" id="txtNombreDesaparecido" class="card-title" style="background-color: #038587; color: white;" placeholder="Nombre">
                    <input type="text" id="txtApellidoDesaparecido" class="card-title" style="background-color: #038587; color: white;" placeholder="Apellido">

                    <h5>Fecha de desaparicion</h5>
                    <input type="date" id="fecha_desaparicion" style=" background-color: rgb(3, 133, 135); " />
                    <h5 class="card-title" style=" color: white;">
                        Edad:
                    </h5>
                    <input type="number" id="txtEdadDesaparecido" class="card-title" min="0" style="background-color: #038587; color: white;" placeholder="Edad">
                    <p>
                        Visto antes: <select name="miCombobox" id="txtVistoAntesDesaparecido" style="background: #038587; color: white; ">
                            <option value="distrito1">Distrito 1</option>
                            <option value="distrito2">Distrito 2</option>
                            <option value="distrito3">Distrito 3</option>
                        </select>
                    </p>
                    Lugar desaparicion:
                    <textarea type="text" id="txtLugarDesaparecido" class="card-title" maxlength="220" style="background-color: #038587; color: white; max-height:7vh; min-height:5vh; " placeholder="Descripcion de la situacion"></textarea>
                    <p>Descripcion: <br></p>
                    <textarea type="text" id="txtDescripcionDesaparecido" class="card-title" maxlength="220" style="background-color: #038587; color: white; max-height:20vh; min-height:10vh; " placeholder="Descripcion de la situacion"></textarea>
                    <p>
                        Tel:  <input type="text" id="txtTelefonoDesaparecido" class="card-title" style="background-color: #038587; color: white;" placeholder="Numero telefonico">
                        <br> WhatsApp: <input id="txtWhatsAppDesaparecido" type="text" class="card-title" style="background-color: #038587; color: white;" placeholder="Numero de WhatsApp">

                    </p>
                    <input id="btnPublicarDesaparecido" class="btn btn-primary" type="submit" value="Publicar">
                </div>
            </div>
        </div>

    </div>
    <div id="conenedorAnuncios" class="row m-0 border-0 bd-example m-0 border-0 justify-content-center"></div>
    <div id="conenedorAnunciosNece" class="row m-0 border-0 bd-example m-0 border-0 justify-content-center"></div>
    <!--  JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <script>
        //mostrar publicaciones realizadas al iniciar la pagina
        mostrarNecesitados();
        mostrarDesaparecidos();

        //variable de accion
        var id_edicion;
        var base_seleccionada;

        //Objetos del HTML
        const txtBuscarPublicacion = document.getElementById('btnBuscar').addEventListener("click", buscarPublicacion);
        let btnAgregarNecesitado = document.getElementById("btnPublicarNecesitado");

        let btnAgregarDesaparecido = document.getElementById("btnPublicarDesaparecido");

        let filenece = document.getElementById("fileimagenNese").addEventListener("change", mostrarImg)
        let fileDesa = document.getElementById("fileimagenDesa").addEventListener("change", mostrarImg)

        //mostrar_imagen
        function mostrarImg(e) {



            if (e.target.id == "fileimagenNese") {
                const input = this;
                let containerNece = document.getElementById("containerImgNece");
                if (input.files && input.files[0]) {

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const imagen = document.createElement('img');
                        imagen.src = e.target.result;
                        imagen.alt = "Imagen seleccionada";
                        imagen.id = "imagenNece";
                        containerNece.innerHTML = '';
                        containerNece.appendChild(imagen);
                        const arrayBuffer = e.target.result;
                        localStorage.setItem('imgenNece', arrayBuffer);
                    }

                    reader.readAsDataURL(input.files[0]);
                    alertify.success("Imagen elegida exitosamente");
                } else {
                    alertify.error('Error al cargar la imagen');
                }

            } else {
                const input = this;
                let containerDesa = document.getElementById("containerImgDesa");
                if (input.files && input.files[0]) {

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const imagen = document.createElement('img');
                        imagen.src = e.target.result;
                        imagen.alt = "Imagen seleccionada";
                        imagen.id = "imagenDesa";
                        containerDesa.innerHTML = '';
                        containerDesa.appendChild(imagen);
                        const arrayBuffer = e.target.result;
                        localStorage.setItem('imagenDesa', arrayBuffer);
                    }

                    reader.readAsDataURL(input.files[0]);
                    alertify.success("Imagen elegida exitosamente");
                } else {
                    alertify.error('Error al cargar la imagen');
                }
            }
        }
        //validacion de datos
        function validarDatosDesaparecidos() {
            //obtencion de compos adicionales
            const distritos = ["Distrito 1", "Distrito 2", "Distrito 3"];
            var distrito;
            const nombreAlmacenado = localStorage.getItem('nombre');
            const selectElement = document.getElementById("txtVistoAntesDesaparecido");
            const selectedIndex = selectElement.selectedIndex;
            const selectedOption = selectElement.options[selectedIndex];
            const selectedText = selectedOption.text;

            for (var i = 0; i < distritos.length; i++) {
                if (distritos[i] == selectedText) {
                    distrito = i + 1
                }
            }
            // Obtener los valores de todos los campos
            const valoresCampos = [
                !txtNombreDesaparecido.value,
                !txtApellidoDesaparecido.value,
                !txtEdadDesaparecido.value,
                !fecha_desaparicion.value,
                !txtLugarDesaparecido.value,
                !txtDescripcionDesaparecido.value,
                !txtTelefonoDesaparecido.value,
                !txtWhatsAppDesaparecido.value,
                !distrito,
                !nombreAlmacenado
            ];
            for (var i = 0; i < valoresCampos.length; i++) {
                if (valoresCampos[i] == true) {
                    
                    return false
                }
            }
           
            return true;
        }
        function validarDatosNecesitados() {
            //obteniendo el id del distrito
            const selectElement = document.getElementById("txtDistritoNecesitado");
            const distritos = ["Distrito 1", "Distrito 2", "Distrito 3"];
            var distrito;
            const selectedIndex = selectElement.selectedIndex;
            const selectedOption = selectElement.options[selectedIndex];
            const selectedText = selectedOption.text;

            for (var i = 0; i < distritos.length; i++) {
                if (distritos[i] == selectedText) {
                    distrito = i + 1
                }
            }
            //obteniendo el id de la ayuda
            const selectElementAyuda = document.getElementById("txtAyudaNecesitado");
            const tipo_ayudas = ["ayuda 1", "ayuda 2"];
            var tipo_ayuda;
            const selectedIndexNece = selectElementAyuda.selectedIndex;
            const selectedOptionNece = selectElementAyuda.options[selectedIndexNece];
            const selectedTextNece = selectedOptionNece.text;

            for (var i = 0; i < tipo_ayudas.length; i++) {
                if (tipo_ayudas[i] == selectedTextNece) {
                    tipo_ayuda = i + 1
                }
            }
            console.log(tipo_ayuda);
            const campos = [
                !txtNombreNecesitado.value,
                !txtApellidoNecesitado.value,
                !parseInt(txtEdadNecesitado.value),
                !txtDireccionNecesitado.value,
                !txtDescripcionNecesitados.value,
                !txtTelefonoNecesitado.value,
                !txtWhatsAppNecesitado.value,
            ];
            // Verificamos si alguno de los campos está vacío o tiene un valor false
            for (var i = 0; i < campos.length; i++) {
                if (campos[i] == true) {
                    return false;
                }
            }

            return true;

            
        }
        //botones de agregar
        btnAgregarNecesitado.addEventListener("click", agregarNecesitado);
        btnAgregarDesaparecido.addEventListener("click", agregarDesaparecido);
      

        //Creacion de anuncio de necesitados
        async function agregarNecesitado() {
            try {
                let validacion = validarDatosNecesitados()
                alert("comenzando");
                if (validacion == false) {
                    alertify.error('Agregue todos los campos.');
                } else {
                   
                        alertify.success("Comenzando la publicacion");
                        //obteniendo el id del distrito
                        const selectElement = document.getElementById("txtDistritoNecesitado");
                        const distritos = ["Distrito 1", "Distrito 2", "Distrito 3"];
                        var distrito;
                        const selectedIndex = selectElement.selectedIndex;
                        const selectedOption = selectElement.options[selectedIndex];
                        const selectedText = selectedOption.text;

                        for (var i = 0; i < distritos.length; i++) {
                            if (distritos[i] == selectedText) {
                                distrito = i + 1
                            }
                        }
                        //obteniendo el id de la ayuda
                    const selectElementAyuda = document.getElementById("txtAyudaNecesitado");
                    const tipo_ayudas = ["ayuda 1", "ayuda 2"];
                    var tipo_ayuda;
                    const selectedIndexNece = selectElementAyuda.selectedIndex;
                    const selectedOptionNece = selectElementAyuda.options[selectedIndexNece];
                    const selectedTextNece = selectedOptionNece.text;

                    for (var i = 0; i < tipo_ayudas.length; i++) {
                        if (tipo_ayudas[i] == selectedTextNece) {
                            tipo_ayuda = i + 1
                        }
                    }
                    console.log(tipo_ayuda);



                        const fechaActual = new Date();
                        const dia = fechaActual.getDate();
                        const mes = fechaActual.getMonth() + 1;
                        const anio = fechaActual.getFullYear();

                        const nombreAlmacenado = localStorage.getItem('nombre');
                        console.log(nombreAlmacenado);
                        
                    const imagen_nece = localStorage.getItem('imgenNece');
                    let imagenNece = imagen_nece.split(",")[1]
                    let datos = {
                            "nombre_nece": txtNombreNecesitado.value,
                            "apellido": txtApellidoNecesitado.value,
                            "edad": parseInt(txtEdadNecesitado.value),
                            "direccion": txtDireccionNecesitado.value,
                            "id_distrito": distrito,
                            "id_ayuda": tipo_ayuda,
                            "situacion_descripcion": txtDescripcionNecesitados.value,
                            "fecha_publicacion": anio + "-" + mes + "-" + dia,
                            "telefono": txtTelefonoNecesitado.value,
                            "whatsApp": txtWhatsAppNecesitado.value,
                            "id_cuenta": parseInt(nombreAlmacenado),
                            "imagen": imagenNece
                        }
                    console.log(datos);
                    if (btnAgregarNecesitado.value == "Publicar") {
                        method = 'POST';
                        url = 'https://localhost:7253/api/necesitados';
                    } else if (btnAgregarNecesitado.value == "Actualizar"){
                        const registro_modificar = localStorage.getItem('registro_modificar');
                        console.log(registro_modificar);
                        method = `PUT`;
                        url = `https://localhost:7253/api/necesitados/${registro_modificar}`;
                    }
                        const respuesta = await fetch(url, {
                            method,
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(datos)
                        }), necesitados = await respuesta.json();
                    console.log(datos);
                    btnAgregarNecesitado.value = "Publicar";
 
                            mostrarDesaparecidos();
                            mostrarNecesitados();
                }




                 } catch (e) {
                     alertify.error("A ocurrido un error");
                 }
            
        }
        //Creacion de anuncio de desaparecidos
        async function agregarDesaparecido() {
            try {
                let validacion = validarDatosDesaparecidos();
                if (validacion == false) {
                    alertify.error("Ingresa todos los valores");
                } else {

                    console.log("Comenzamos la incersion")

                    const distritos = ["Distrito 1", "Distrito 2", "Distrito 3"];
                    var distrito;

                    const selectElement = document.getElementById("txtVistoAntesDesaparecido");
                    const selectedIndex = selectElement.selectedIndex;
                    const selectedOption = selectElement.options[selectedIndex];
                    const selectedText = selectedOption.text;

                    for (var i = 0; i < distritos.length; i++) {
                        if (distritos[i] == selectedText) {
                            distrito = i + 1
                        }
                    }

                    const fechaActual = new Date();
                    const dia = fechaActual.getDate();
                    const mes = fechaActual.getMonth() + 1;
                    const anio = fechaActual.getFullYear();

                    const nombreAlmacenado = localStorage.getItem('nombre');
                    const imagen_desa = localStorage.getItem('imagenDesa');
                    let imagenDesa = imagen_desa.split(",")[1]

                    console.log(imagen_desa);
                    let datos = {
                        nombre: txtNombreDesaparecido.value,
                        apellido: txtApellidoDesaparecido.value,
                        edad: txtEdadDesaparecido.value,
                        fecha_Desaparicion: fecha_desaparicion.value,
                        lugar_Desaparicion: txtLugarDesaparecido.value,
                        descripción_persona: txtDescripcionDesaparecido.value,
                        telefono: txtTelefonoDesaparecido.value,
                        whatsApp: txtWhatsAppDesaparecido.value,
                        id_distrito: distrito,
                        fecha_publicacion: anio + "-" + mes + "-" + dia,
                        id_cuenta: parseInt(nombreAlmacenado),
                        "imagen": imagenDesa
                    };



                    method = "POST",
                        url = 'https://localhost:7253/api/desaparecidos';
                    const respuesta = await fetch(url, {
                        method,
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(datos)
                    }), desaparecidos = await respuesta.json();
                    alertify.success("Publicación realizada");

                    if (desaparecidos && desaparecidos?.id_publicacionDesa > 0) {
                        alertify.success("Publicación realizada");
                        mostrarDesaparecidos();
                        mostrarNecesitados();
                    }
                }
            } catch (e) {
                alertify.error('Ocurrio un error al realizar la publicación.');
                console.log("Ocurrio un error " + e)
            }

        }
        //mostrar datos de desaparecidos

        async function mostrarDesaparecidos() {
            conenedorAnuncios.innerHTML = '';
            const respuesta = await fetch("https://localhost:7253/api/desaparecidos", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }), Desaparecidos = await respuesta.json();
            //
            const nombreAlmacenado = localStorage.getItem('nombre');

            //
            Desaparecidos.forEach(Desaparecidos => {
                console.log(nombreAlmacenado);
                console.log(Desaparecidos.id_cuenta + "asda")
                if (parseInt(Desaparecidos.id_cuenta) == nombreAlmacenado) {
                    conenedorAnuncios.innerHTML += `

                         <div class="col-sm-6 col-md-4 ">
                                    <div class="card" style="width: 18rem; background-color: #072145; color: white; margin: 0.5rem auto;">
                                         <img src="data:image/png;base64,${Desaparecidos.imagen}"class="img - thumbnail rounded"/>
                                        <div class="card-body">
                                            <h5 class="card-title" style="background-color: #038587; color: white;">Ayudenos a encontrar a: ${Desaparecidos.nombre} ${Desaparecidos.apellido} </h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="background-color: #072145; color: white;">Edad: ${Desaparecidos.edad}</li>
                                            <li class="list-group-item" style="background-color: #072145; color: white;">Fecha de desaparición: ${Desaparecidos.fecha_Desaparicion}</li>
                                            <li class="list-group-item" style="background-color: #072145; color: white;">Visto por ultima vez en: ${Desaparecidos.lugar_Desaparicion}</li>
                                        </ul>
                                        <div class="card-body">
                                            <p>Descripción: ${Desaparecidos.descripción_persona}</p>

                                            <p>Si sabe algo contactelos por medio de:<p>
                                            <p>Telefono: ${Desaparecidos.telefono} </p>
                                            <p>WhatsApp: ${Desaparecidos.whatsApp} </p>
                                            <p>Distrito: ${Desaparecidos.id_distrito} </p>
                                              <div class="card-body" id="conten-btn">
                                  <input id="${Desaparecidos.id_publicacionDesa}"  name="desa" onclick = "editarPublicacion(event)"  class="btn btn-primary"  type="submit" value="Editar">
                                              <input class="btn btn-danger" id="${Desaparecidos.id_publicacionDesa}" type="submit" name="desa" onclick="eliminarPublicacion(event)" class="delete" value="Eliminar">
                                                 </div>
                                        </div>
                                    </div>
</div>`
                }
            });



        }
        //mostrar datos de necesitados
        async function mostrarNecesitados() {
            conenedorAnuncios.innerHTML = '';
            
            const respuesta = await fetch('https://localhost:7253/api/necesitados', {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }), necesitados = await respuesta.json();
            //
            const nombreAlmacenado = localStorage.getItem('nombre'); //
            console.log(necesitados);
            
            necesitados.forEach(necesitados => {
                console.log(nombreAlmacenado);
                if (parseInt(necesitados.id_cuenta) == nombreAlmacenado) {
                   
                    conenedorAnuncios.innerHTML += `
                            <div class="col-sm-6 col-md-4 ">
                                  <div class="card" style="width: 18rem; background-color: #072145; color: white; margin: 0.5rem auto;">
                                    <img src="data:image/png;base64,${necesitados.imagen}"class="img - thumbnail rounded"/>
                                    <div class="card-body">
                                      <h5 class="card-title" style="background-color: #038587; color: white;">Ayudemos a: <br>
                                      ${necesitados.nombre_nece} ${necesitados.apellido} </h5>

                                    <div class="card-body">
                                    <p>Edad: ${necesitados.edad}</p>
                                    <p>Distrito: ${necesitados.id_distrito} </p>
                                    <p>Direccion: ${necesitados.direccion} </p>
                                      <p>Descripcion: <br></p>
                                      <p class="card-text">${necesitados.situacion_descripcion}</p>  <p>Creacion del anuncio:<br> ${necesitados.fecha_publicacion}  </p>
                                      <p>Tel: ${necesitados.telefono} <br> WhatsApp: ${necesitados.whatsApp}</p>
                                      <p>Publicado por: ${necesitados.id_cuenta} </p>
                                       <div class="card-body" id="conten-btn">
                                         <input name="nece" onclick = "editarPublicacion(event)" class="btn btn-primary" id="${necesitados.id_publicacionNese}" type="submit" value="Editar">
                                            <input class="btn  btn-danger" id='${necesitados.id_publicacionNese}' type="submit" name="nece" onclick="eliminarPublicacion(event)" class="delete" value="Eliminar">
                                        </div>
                                    </div>
                                  </div>
</div>
`
                }


            });
        }
        //Buscar publicacion

        async function buscarPublicacion(e) {
            e.preventDefault();
            const respuestaNese = await fetch("https://localhost:7253/api/necesitados", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }), necesitados = await respuestaNese.json();

            const respuestaDesa = await fetch("https://localhost:7253/api/desaparecidos", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }), Desaparecidos = await respuestaDesa.json();


            const nombreAlmacenado = localStorage.getItem('nombre');
            const txtBusqueda = document.getElementById('txtBuscar');
            let txtBuscado = txtBusqueda.value;
            let encontrado = false;
            conenedorAnuncios.innerHTML = '';
            console.log(nombreAlmacenado);
            Desaparecidos.forEach(Desaparecidos => {
                if (parseInt(Desaparecidos.id_cuenta) == nombreAlmacenado && txtBuscado ==   Desaparecidos.nombre || txtBuscado == Desaparecidos.apellido) {
                    console.log("Encontrado");
                    alertify.success("Registro de publicacion encontrado");
                    mostrarNecesitados();
                }
            })
            necesitados.forEach(necesitados => {
                if (parseInt(necesitados.id_cuenta) === nombreAlmacenado && necesitados.necesitados.nombre_nece == txtBuscado || necesitados.apellido == txtBuscado) {
                    mostrarDesaparecidos();
                    alertify.success("Registro de publicacion encontrado");
                }
            });


            if (encontrado == false) {
                alertify.error("Registro de publicacion no encontrado");
                mostrarDesaparecidos();
                mostrarNecesitados();
            }

        }
        //eliminar publicacion
        async function eliminarPublicacion(e) {
            let id = e.target.id;
            let baseSelect = e.target.name;
            console.log(id);
            console.log(baseSelect);
            if (confirm(`Esta seguro de eliminar la publicacion`)) {
                var url;
                if (baseSelect == "desa") {
                    url = `https://localhost:7253/api/desaparecidos/${id}`;
                    console.log("desa");


                } else if (baseSelect == "nece") {
                    url = `https://localhost:7253/api/necesitados/${id}`;
                    console.log("nece");


                }

                let respuesta = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/text"
                    }
                }),
                    datos = await respuesta.text();
                if (datos && datos.length > 0) {
                    console.log(datos);
                } else {
                    mostrarDesaparecidos();
                    mostrarNecesitados();
                }
            }
        }
            

        async function editarPublicacion(e) {
            let id = e.target.id;
            let baseSelect = e.target.name;
            console.log(id + "   asdasd " + baseSelect);
            localStorage.setItem('registro_modificar',id);
            console.log(id);
            if (confirm(`Esta seguro de editar la publicacion`)) {
                id_edicion = id;
                base_seleccionada = baseSelect;
                var url;
                if (baseSelect == "desa") {
                    let containerDesa = document.getElementById("containerImgDesa");
                    console.log(id);
                    const respuestaDesa = await fetch(`https://localhost:7253/api/desaparecidos`, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }), desaparecidos = await respuestaDesa.json();
                    desaparecidos.forEach(Desaparecidos => {
                          
                     
                        if (Desaparecidos.id_publicacionDesa == id) {
                            console.log("encontramos algo");
                            console.log(Desaparecidos);
                            txtNombreDesaparecido.value = Desaparecidos.nombre;
                            txtApellidoDesaparecido.value = Desaparecidos.apellido;
                            txtEdadDesaparecido.value = Desaparecidos.edad;
                            fecha_desaparicion.Date = Desaparecidos.fecha_Desaparicion;
                            txtLugarDesaparecido.value = Desaparecidos.lugar_Desaparicion;
                            txtDescripcionDesaparecido.value = Desaparecidos.descripción_persona;
                            txtTelefonoDesaparecido.value = Desaparecidos.telefono;
                            txtWhatsAppDesaparecido.value = Desaparecidos.whatsApp;
                            containerDesa.innerHTML = `<img src="data:image/png;base64,${Desaparecidos.imagen}"/>`;
                            txtVistoAntesDesaparecido.selectElement = Desaparecidos.id_distrito;
                            
                        }
                    })

                        
                    
                } else if (baseSelect == "nece") {
                    let containerNece = document.getElementById("containerImgNece");

                    const respuestaNese = await fetch(`https://localhost:7253/api/necesitados`, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }), necesitados = await respuestaNese.json();
                    necesitados.forEach(necesitados => {
                        if (id == necesitados.id_publicacionNese) {
                            txtNombreNecesitado.value = necesitados.nombre_nece;
                            txtApellidoNecesitado.value = necesitados.apellido;
                            txtEdadNecesitado.value = parseInt(necesitados.edad);
                            txtDireccionNecesitado.value = necesitados.direccion;
                            txtDescripcionNecesitados.value = necesitados.situacion_descripcion;
                            txtTelefonoNecesitado.value = necesitados.telefono;
                            txtWhatsAppNecesitado.value = necesitados.whatsApp;
                            btnAgregarNecesitado.value = "Actualizar";
                            containerNece.innerHTML = `<img src="data:image/png;base64,${necesitados.imagen}"/>`;
                            txtAyudaNecesitado.selectElement = necesitados.id_ayuda;
                            txtDistritoNecesitado.selectElement = necesitados.id_distrito;
                        }
                    })
                    

                }
            }
        
    }

                  

    </script>

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>